altair
asgiref==3.7.2
attrs
blinker
Bottleneck
Brotli
cachetools
certifi
charset-normalizer
click
colorama
decorator==5.1.1
Django==5.0.2
djangorestframework==3.14.0
duckdb==0.10.1
et-xmlfile==1.1.0
gitdb
GitPython
google-auth==2.28.2
google-auth-oauthlib==1.2.0
gspread==5.12.4
gspread-dataframe==3.3.1
gspread-formatting==1.1.2
gspread-pandas==3.3.0
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mkl-fft
mkl-random
mkl-service==2.4.0
numexpr
numpy
oauthlib==3.2.2
openpyxl==3.1.2
packaging
pandas==1.5.3
pillow
pkgutil_resolve_name
prettytable==3.10.0
protobuf==3.20.3
pyarrow
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydeck
pyecharts==2.0.5
Pygments
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
requests-oauthlib==1.4.0
rich
rpds-py
rsa==4.9
setuptools==68.2.2
simplejson==3.19.2
six
smmap
sql_metadata==2.10.0
sqlparse==0.4.4
st-gsheets-connection==0.0.4
streamlit
streamlit-lottie==0.0.5
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth==0.2.13
wheel==0.41.2
win-inet-pton
zipp
gunicorn
